node_modules/
ios/*
!ios/ci_scripts/
android/
.expo/
.env
.env.local
*.lock
*.tsbuildinfo
.DS_Store
supabase/.temp/
android/build/
android/.gradle/
android/app/build/

# Encrypted local files
.enc
*.enc
